extends header


block content

	// Start Content Block 1-9
	section#content-1-9.content-1-9.content-block
		.container
			.underlined-title
				.editContent
					h1 Who we are?
			
			.row
				.col-md-6.col-sm-12
					.editContent
						h3 Managing Director
					.editContent
						h5 
							| Dr. Prashant Singh Rana
							br
							| Assistant Professor,
							br
							| CSED, Thapar University
				.col-md-6.col-sm-12
					.editContent
						h3 Chief Technical Officer
					.editContent
						h5 
							| Arush Nagpal
							br
							| Final Year Student,
							br
							| Thapar University
			hr

			.underlined-title
				.editContent
					h1 Our Advisory Board
				//
					hr
					.editContent
						h2 We offer the full range of digital marketing services
			.row.client-row
				.col-md-3.col-sm-12.col-xs-12.pad25
					.col-xs-12
						.editContent
							h4 Prof. B Jayaram
						.editContent
							h5
								| Professor,
								br
								| IIT Delhi
				.col-md-3.col-sm-12.col-xs-12.pad25
					.col-xs-12
						.editContent
							h4 Prof. MK Tiwari
						.editContent
							h5
								| HOD and Professor,
								br
								| IIT Kharagpur
				.col-md-3.col-sm-12.col-xs-12.pad25
					.col-xs-12
						.editContent
							h4 Prof. Anupam Shukla
						.editContent
							h5
								| Professor,
								br
								| ABV-IIITM Gwalior
				.col-md-3.col-sm-12.col-xs-12.pad25
					.col-xs-12
						.editContent
							h4 Dr. JC Bansal
						.editContent
							h5
								| Assistant Professor,
								br
								| SAU, New Delhi
				.col-md-3.col-sm-12.col-xs-12.pad25
					.col-xs-12
						.editContent
							h4 Dr. Harish Sharma
						.editContent
							h5
								| Associate Professor,
								br
								| RTU, Kota
				.col-md-3.col-sm-12.col-xs-12.pad25
					.col-xs-12
						.editContent
							h4 Dr. Manoj Thakur
						.editContent
							h5
								| Assistant Professor,
								br
								| IIT Mandi
				.col-md-3.col-sm-12.col-xs-12.pad25
					.col-xs-12
						.editContent
							h4 Dr. Mukesh Saraswat
						.editContent
							h5
								| Assistant Professor,
								br
								| JIIT Noida,UP
				.col-md-3.col-sm-12.col-xs-12.pad25
					.col-xs-12
						.editContent
							h4 Dr. Suneel Yadav
						.editContent
							h5
								| Assistant Professor,
								br
								| IIIT Allahabad
				
			// /.row
		// /.container
	// // End Content Block 1-9
	// Start Content Block 3-5
	section#content-3-5.content-block.content-3-5
		.container
			.row
				// Feature Box 1
				.col-md-3.col-sm-6.col-xs-12
					.feature-box
						.icon
							span.fa.fa-pencil
						.editContent
							h3 Branding
						.editContent
							p
								| Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.
				// Feature Box 2
				.col-md-3.col-sm-6.col-xs-12
					.feature-box
						.icon
							span.fa.fa-code
						.editContent
							h3 Web Design
						.editContent
							p
								| Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.
				// Feature Box 3
				.col-md-3.col-sm-6.col-xs-12
					.feature-box
						.icon
							span.fa.fa-search
						.editContent
							h3 SEO
						.editContent
							p
								| Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.
				// Feature Box 4
				.col-md-3.col-sm-6.col-xs-12
					.feature-box
						.icon
							span.fa.fa-mobile
						.editContent
							h3 Mobile Apps
						.editContent
							p
								| Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.
			// Row Ends
		// Container Ends
	// // END Content Block 3-5
	// Start Content Block 1-6
	section#content-1-6.content-1-6.content-block
		.container
			.row.text-center
				.editContent
					h2 Some of our great partners
			// end of row
			.row.client-row
				.row-wrapper
					.col-md-3.col-sm-6.col-xs-12
						img(alt='client', src='images/partner-logos/logo-bootstrap.png')
					.col-md-3.col-sm-6.col-xs-12
						img(alt='client', src='images/partner-logos/logo-less.png')
					.col-md-3.col-sm-6.col-xs-12
						img(alt='client', src='images/partner-logos/logo-sass.png')
					.col-md-3.col-sm-6.col-xs-12
						img(alt='client', src='images/partner-logos/logo-jquery.png')
			// /.row
			.row.client-row
				.row-wrapper
					.col-md-3.hidden-sm.hidden-xs
						img(alt='client', src='images/partner-logos/logo-grunt.png')
					.col-md-3.hidden-sm.hidden-xs
						img(alt='client', src='images/partner-logos/logo-bower.png')
					.col-md-3.hidden-sm.hidden-xs
						img(alt='client', src='images/partner-logos/logo-yeoman.png')
					.col-md-3.hidden-sm.hidden-xs
						img(alt='client', src='images/partner-logos/logo-angularjs.png')
			// /.row
		// /.container
	// // End Content Block 1-6
	// Start Footer 1-1
	
			// /.row
		// /.container
	// // END Footer 1-1
	include footer