// Start Footer 1-1
section.content-block-nopad.bg-deepocean
	.container.footer-1-1
		.row
			.col-sm-5
				img.brand-img.img-responsive(src='/images/ContestRankerlogo_white.png')
				.editContent
					h3
						| Building 
						strong strong
						|  connections and hosting contests
				//
					.editContent
						p.lead
							| We've hand-crafted 
							strong bskit
							|  in great detail to make your life easier… enjoy!
			.col-sm-6.col-sm-offset-1
				.row
					.col-md-4
						.editContent
							h4 Shortcuts
						.editContent
							ul
								li
									a(href='about') About us
								li
									a(href='/contests') Contests
								li
									a(href='/login') Login/Signup
								li
									a(href='/pricing') Pricing
								li
									a(href='/contact') Contact
					.col-md-4
						.editContent
							h4 Legal Stuff
						.editContent
							ul
								li
									a(href='#') Privacy Policy
								li
									a(href='#') Terms & Conditions
								li
									a(href='#') Cookie Policy
					.col-md-4
						.editContent
							h4 Seen Enough?
						a.btn.btn-block.btn-primary(href='#') Register Now
		// /.row
	// /.container
// // END Footer 1-1
// /#page
// Scripts at the end... you know the score!
// Core Scripts (Do not remove)
script(type='text/javascript', src='/js/jquery-1.11.1.min.js')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/bootstrap-hover-dropdown.min.js')
// Vendor Scripts (Feel free to remove any that you aren't using in your final export)
script(type='text/javascript', src='/js/modernizr.custom.js')
script(type='text/javascript', src='/js/headroom.js')
// Header 1
script(type='text/javascript', src='/js/jquery.headroom.js')
// Header 1
script(type='text/javascript', src='/js/count.down.min.js')
// Promo 2 Countdown
script(type='text/javascript', src='/js/owl.carousel.min.js')
// Owl Carousel
script(type='text/javascript', src='/js/jquery.counterup.min.js')
// Content 2-7 Counter
script(type='text/javascript', src='/js/waypoints.min.js')
// Content 2-7 Counter
script(type='text/javascript', src='/js/jquery.isotope.min.js')
// Gallery Filter
script(type='text/javascript', src='/js/jquery.magnific-popup.min.js')
// Gallery Popup
script(type='text/javascript', src='/js/sendmail.js')
//
	<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
// Theme Scripts (Do not remove)
script(type='text/javascript', src='/js/bskit-scripts.js')
script(type="text/javascript").
	$(function(){
	$("#sortthistable").tablesorter();
	});

script(type="text/javascript").
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-86732244-1', 'auto');
	ga('send', 'pageview');