// DOCTYPE html
html
	head
		meta(charset='utf-8')
		title #{title}
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='keywords', content='topranker, bootstrap starter kit, bootstrap builder')
		meta(name='description', content='Business Startup & Prototyping HTML Framework')
		link(rel='shortcut icon', href='/ico/favicon.png')
		// Core CSS
		link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
		link(href='/css/font-awesome.min.css', rel='stylesheet')
		// Style Library
		link(href='/css/style-library-1.css', rel='stylesheet')
		// Vendor Styles
		link(href='/css/owl.carousel.css', rel='stylesheet')
		link(href='/css/owl.transitions.css', rel='stylesheet')
		link(href='/css/magnific-popup.css', rel='stylesheet')
		// Block Styles (Feel free to remove any that you aren't using in your final export)
		link(href='/css/header-1.css', rel='stylesheet')
		link(href='/css/header-2.css', rel='stylesheet')
		link(href='/css/header-3.css', rel='stylesheet')
		link(href='/css/promo-1.css', rel='stylesheet')
		link(href='/css/promo-2.css', rel='stylesheet')
		link(href='/css/promo-3.css', rel='stylesheet')
		link(href='/css/content1-1.css', rel='stylesheet')
		link(href='/css/content1-2.css', rel='stylesheet')
		link(href='/css/content1-3.css', rel='stylesheet')
		link(href='/css/content1-4.css', rel='stylesheet')
		link(href='/css/content1-5.css', rel='stylesheet')
		link(href='/css/content1-6.css', rel='stylesheet')
		link(href='/css/content1-7.css', rel='stylesheet')
		link(href='/css/content1-8.css', rel='stylesheet')
		link(href='/css/content1-9.css', rel='stylesheet')
		link(href='/css/content2-1.css', rel='stylesheet')
		link(href='/css/content2-2.css', rel='stylesheet')
		link(href='/css/content2-3.css', rel='stylesheet')
		link(href='/css/content2-4.css', rel='stylesheet')
		link(href='/css/content2-5.css', rel='stylesheet')
		link(href='/css/content2-6.css', rel='stylesheet')
		link(href='/css/content2-7.css', rel='stylesheet')
		link(href='/css/content2-8.css', rel='stylesheet')
		link(href='/css/content2-9.css', rel='stylesheet')
		link(href='/css/content2-10.css', rel='stylesheet')
		link(href='/css/content3-1.css', rel='stylesheet')
		link(href='/css/content3-2.css', rel='stylesheet')
		link(href='/css/content3-3.css', rel='stylesheet')
		link(href='/css/content3-4.css', rel='stylesheet')
		link(href='/css/content3-5.css', rel='stylesheet')
		link(href='/css/content3-6.css', rel='stylesheet')
		link(href='/css/content3-7.css', rel='stylesheet')
		link(href='/css/content3-8.css', rel='stylesheet')
		link(href='/css/content3-9.css', rel='stylesheet')
		link(href='/css/content3-10.css', rel='stylesheet')
		link(href='/css/content3-11.css', rel='stylesheet')
		link(href='/css/gallery-1.css', rel='stylesheet')
		link(href='/css/gallery-2.css', rel='stylesheet')
		link(href='/css/team-1.css', rel='stylesheet')
		link(href='/css/team-2.css', rel='stylesheet')
		link(href='/css/pricing-tables-1.css', rel='stylesheet')
		link(href='/css/pricing-tables-2.css', rel='stylesheet')
		link(href='/css/contact-1.css', rel='stylesheet')
		link(href='/css/contact-2.css', rel='stylesheet')
		link(href='/css/contact-3.css', rel='stylesheet')
		link(href='/css/blog-1.css', rel='stylesheet')
		link(href='/css/shop-1.css', rel='stylesheet')
		link(href='/css/shop-2.css', rel='stylesheet')
		link(href='/css/shop-3.css', rel='stylesheet')
		link(href='/css/shop-4.css', rel='stylesheet')
		link(href='/css/shop-5.css', rel='stylesheet')
		link(href='/css/shop-6.css', rel='stylesheet')
		link(href='/css/shop-7.css', rel='stylesheet')
		link(href='/css/footer-1.css', rel='stylesheet')
		link(href='/css/footer-2.css', rel='stylesheet')
		link(href='/css/footer-3.css', rel='stylesheet')
		link(href='/css/footer-4.css', rel='stylesheet')
		link(href='/css/footer-5.css', rel='stylesheet')
		link(href='/css/basic.css', rel='stylesheet')
		link(rel='stylesheet', href='tablesorter/dist/css/theme.default.min.css')
		script(type='text/javascript', src='tablesorter/dist/js/jquery.tablesorter.js')
		script(type='text/javascript', src='tablesorter/dist/js/jquery.tablesorter.widgets.js')

		// HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file.
		//if lt IE 9
			script(src='/js/html5shiv.js')
			script(src='/js/respond.min.js')
	body
		#page.page
			// HEADER 2
			// // End HEADER 2
			// Start Footer 1-4
			// // END Footer 1-4
			// Start Footer 1-1
			// // END Footer 1-1
			// HEADER 2
			// // End HEADER 2
			// Start Contact 2
			// // END Contact 2
			// Start Footer 1-1
			// // END Footer 1-1
			// HEADER 2
			// // End HEADER 2
			// Start Promo 2
			// // END Promo 2
			// Start Content Block 1-3
			// // END Content Block 1-3
			// Start Footer 1-4
			// // END Footer 1-4
			// Start Footer 1-1
			// // END Footer 1-1
			// HEADER 2
			header#header-2
				nav.main-nav.navbar.navbar-default.navbar-fixed-top
					.container
						// Brand and toggle get grouped for better mobile display
						.navbar-header
							button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse')
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							img.brand-img.img-responsive(src='/images/ContestRankerlogo.png')
						// Collect the nav links, forms, and other content for toggling
						#navbar-collapse.collapse.navbar-collapse
							ul.nav.navbar-nav.navbar-right
								if(title== 'Home')
									li.nav-item.active
										a(href='/home') Home
								else
									li.nav-item
										a(href='/home') Home
							
								//
									li.nav-item
										a(href='/') Launch
								if(title=='Pricing')
									li.nav-item.active
										a(href='/pricing') Pricing
								else
									li.nav-item
										a(href='/pricing') Pricing
								
								li.nav-item
									a(href='/leaderboard') Leaderboard
								li.nav-item.dropdown
									a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', data-delay='0', data-close-others='false', href='/contests')
										| Contests
										i.fa.fa-angle-down
									ul.dropdown-menu
										li
											a(href='/contests/all') Active Contests
										li
											a(href='/contests/all') Archived Contests
								// /.dropdown
								//
									li.nav-item
										a(href='/contact') Contact
								if(title=='About Us')
									li.nav-item.active
										a(href='/about') About Us
								else
									li.nav-item
										a(href='/about') About Us
								
								if user_name
									li.nav-item.dropdown
										a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', data-delay='0', data-close-others='false', href='/contests')
											| Welcome #{user_name}
											i.fa.fa-angle-down
										ul.dropdown-menu
											li
												a(href='/profile') My Profile
											li
												a(href='/submissions') My Submissions
											li
												a(href='/logout') Logout
									//
										li.nav-item
											a(href='/submissions') My Submissions
										li.nav-item
											a(href='#') Welcome #{user_name}
										li.nav-item
											a(href='/logout') Logout
								else
									li.nav-item
										a(href='/login') Login
									li.nav-item
										a(type='button' href='/signup') Sign Up
						// /.navbar-collapse
					// /.container-fluid
			// // End HEADER 2

		block content