extends header


block content

		
		// Start Content Block 1-3
		section#content-1-3.content-block.content-1-3
			.container
				.row
					.col-md-12
						.underlined-title
							.editContent
								h1 Welcome to TopRanker
								h2 An Amazing service to conduct contests on a massive scale
							hr
						.services-wrapper
							.col-md-4
								.icon.bg-crete
									span.fa.fa-laptop
								.editContent
									h4 Step 1: Login/Signup
								//
									.editContent
										p
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem.
							.col-md-4
								.icon.bg-finn
									span.fa.fa-code
								.editContent
									h4 Step 2: View active contests
								//
									.editContent
										p
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem.
							.col-md-4
								.icon.bg-sunflower
									span.fa.fa-rocket
								.editContent
									h4 Step 3: Solve problems, submit answers and rise on the leaderboard
								//
									.editContent
										p
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem.
				// /.row
			// /.container
		// // END Content Block 1-3
		// Start Footer 1-4
		// // END Footer 1-4
		include footer