extends header


block content


	section.content-block
		.container
			.underlined-title
				.editContent
					h1 Choose Problem
			table.table
				thead
					tr
						th Problem
				tbody
					each item in data
						tr
							td 
								a(href='/leaderboard/problems/'+item.uid) #{item.name}
								

	include footer