extends header


block content

	section.content-block
		.container
			if locals.message
				.alert.alert-success
					a.close(href='#', data-dismiss='alert', aria-label='close') ×
					strong Success!
					|  #{locals.message}.
			if locals.error
				.alert.alert-danger
					a.close(href='#', data-dismiss='alert', aria-label='close') ×
					strong Error!
					|  #{locals.error}.

			.loginmodal-container
				h1 Login to Your Account
				br
				form(action='/login', method='POST', role='form' ,enctype='multipart/form-data')
					input(type='email', name='username', placeholder='Email' required)
					input(type='password', name='password', placeholder='Password' required)
					input.login.loginmodal-submit(type='submit', name='login', value='Login')
				.login-help
					a(href='/signup') Register for free
					|  - 
					a(href='/forgotpassword') Forgot Password

			

	include footer