extends header


block content

		// Start Pricing Table 1-1
		section.content-block.pricing-table-1
			.container
				.underlined-title
					.editContent
						h1 Be part of something special
					hr
					.editContent
						h2 It costs less than you think
				//
					.row
						.col-md-3.col-sm-6.price-block
							.ribbon.super-cool
							// Ribbon
							.editContent
								h3 Trial Version
							.price.pastel-orange
								.price-figure
									.editContent
										h4 FREE
									.editContent
										p why not try it out
							.editContent
								ul.features
									li 1GB Storage
									li 2 Clients
									li 5 Active Projects
									li  
									li  
							.price-footer
								a.btn.btn-info(href='#') Buy Now
						.col-md-3.col-sm-6.price-block
							.ribbon.popular
							// Ribbon
							.editContent
								h3 Basic
							.price.pastel-red
								.price-figure
									.editContent
										h4 $5.00
									.editContent
										p per month
							.editContent
								ul.features
									li 2GB Storage
									li 5 Clients
									li 10 Active Projects
									li 10 Colors
									li  
							.price-footer
								a.btn.btn-info(href='#') Buy Now
						.col-md-3.col-sm-6.price-block
							.ribbon.premium
							// Ribbon
							.editContent
								h3 Premium
							.price.pastel-green
								.price-figure
									.editContent
										h4 $10.00
									.editContent
										p per month
							.editContent
								ul.features
									li 5GB Storage
									li 10 Clients
									li 20 Active Projects
									li 20 Colors
									li Free Goodies
							.price-footer
								a.btn.btn-info(href='#') Buy Now
						.col-md-3.col-sm-6.price-block
							.ribbon.best-value
							// Ribbon
							.editContent
								h3 Lifetime
							.price.pastel-blue
								.price-figure
									.editContent
										h4 $500.00
									.editContent
										p one-off payment
							.editContent
								ul.features
									li Unlimited Storage
									li Unlimited Clients
									li Unlimited Projects
									li Unlimited Colors
									li Free Goodies
							.price-footer
								a.btn.btn-info(href='#') Buy Now
		//
					// /.row
				// /.container
			// End Pricing Table 1-1
			// Start Content Block 3-3
			section#content-3-3.content-block-nopad.content-3-3
				.overlay
					.container.text-center
						.editContent
							h2 Trust in a team that's with you all the way
						.editContent
							h1 From start to finish, step by step
						.col-md-6.col-md-offset-3.text-center
							.col-md-6
								a.btn.btn-block.btn-outline.btn-outline-lg.outline-light(href='#') Buy Now
							.col-md-6
								a.btn.btn-block.btn-outline.btn-outline-lg.outline-light(href='#') Find out more
					// /.container
			// // END Content Block 3-3
			// Start Footer 1-3
			section.content-block-nopad.bg-deepocean
				.container.footer-1-3
					.col-md-4.pull-left
						img.brand-img.img-responsive(src='images/brand/bskit-logo-white.png')
						ul.social.social-light
							li
								a(href='#')
									i.fa.fa-2x.fa-facebook
							li
								a(href='#')
									i.fa.fa-2x.fa-twitter
							li
								a(href='#')
									i.fa.fa-2x.fa-google-plus
							li
								a(href='#')
									i.fa.fa-2x.fa-pinterest
							li
								a(href='#')
									i.fa.fa-2x.fa-behance
							li
								a(href='#')
									i.fa.fa-2x.fa-dribbble
						// /.social
					.col-md-3.pull-right
						.editContent
							p.address-bold-line
								| We 
								span.fa.fa-heart.pomegranate
								|  our amazing customers
						.editContent
							p.address.small
								| 123 Anywhere Street,
								br
								| 						London,
								br
								| 						LO4 6ON
					.col-xs-12.footer-text
						.editContent
							p
								| Please take a few minutes to read our 
								a(href='#') Terms & Conditions
								|  and 
								a(href='#') Privacy Policy
				// /.container
			// // END Footer 1-3
		include footer