extends header


block content

	section.content-block
		.container
			if locals.message
				.alert.alert-success
					a.close(href='#', data-dismiss='alert', aria-label='close') ×
					strong Success!
					|  #{locals.message}.
			if locals.error
				.alert.alert-danger
					a.close(href='#', data-dismiss='alert', aria-label='close') ×
					strong Error!
					|  #{locals.error}.
					
			.loginmodal-container
						h1 Sign Up for an Account
						br
						form(action='/signup', method='POST', role='form',enctype='multipart/form-data')
							input(type='text', name='firstname', placeholder='First Name' required)
							input(type='text', name='lastname', placeholder='Last Name' required)
							input(type='email', name='email', placeholder='Email' required)
							input(type='password', name='password', placeholder='Password' required)
							.col-md-6.col-sm-6
								| Male :
								input(type='radio', name='sex', value='male' required)
							.col-md-6.col-sm-6
								| Female :
								input(type='radio', name='sex', value='female' required)
							input.login.loginmodal-submit(type='submit', name='login', value='Login')
						.login-help
							a(href='/login') Login
							|  - 
							a(href='/forgotpassword') Forgot Password	
			

	include footer