/*	BASIC BLOCKS
/*----------------------------------------------------*/

.basic-1-6 img {
	margin: 40px auto 0 auto;
}

.basic-1-7 img {
	margin: 0 auto 40px auto;
}

.basic-1-8 img {
	margin: 60px auto 40px auto;
}

.basic-1-9 {
	background-color: #193441;
}

.basic-1-9  h2, .basic-1-9 p {
	color: #ffffff;
}

.basic-1-10 {
	background-color: #193441;
}

.basic-1-10  h2, .basic-1-10 p {
	color: #ffffff;
}

.basic-1-11 {
	background-color: #193441;
}

.basic-1-11  h2, .basic-1-11 p {
	color: #ffffff;
}

.basic-1-12 {
	background-color: #193441;
}

.basic-1-12  h2, .basic-1-12 p {
	color: #ffffff;
}

.basic-1-13 {
	background-color: #193441;
}

.basic-1-13  h2, .basic-1-13 p {
	color: #ffffff;
}

.basic-1-14 {
	background-color: #193441;
}

.basic-1-14  h2, .basic-1-14 p {
	color: #ffffff;
}

.basic-1-14 img {
	margin: 40px auto 0 auto;
}

.basic-1-15 {
	background-color: #193441;
}

.basic-1-15  h2, .basic-1-15 p {
	color: #ffffff;
}

.basic-1-15 img {
	margin: 0 auto 40px auto;
}

.basic-1-16 {
	background-color: #193441;
}

.basic-1-16  h2, .basic-1-16 p {
	color: #ffffff;
}

.basic-1-16 img {
	margin: 60px auto 40px auto;
}


.basic-1-17 {
	background-color: #16A085;
}

.basic-1-17  h2, .basic-1-17 p {
	color: #ffffff;
}

.basic-1-18 {
	background-color: #16A085;
}

.basic-1-18  h2, .basic-1-18 p {
	color: #ffffff;
}

.basic-1-19 {
	background-color: #16A085;
}

.basic-1-19  h2, .basic-1-19 p {
	color: #ffffff;
}

.basic-1-20 {
	background-color: #16A085;
}

.basic-1-20  h2, .basic-1-20 p {
	color: #ffffff;
}

.basic-1-21 {
	background-color: #16A085;
}

.basic-1-21  h2, .basic-1-21 p {
	color: #ffffff;
}

.basic-1-22 {
	background-color: #16A085;
}

.basic-1-22  h2, .basic-1-22 p {
	color: #ffffff;
}

.basic-1-22 img {
	margin: 40px auto 0 auto;
}

.basic-1-23 {
	background-color: #16A085;
}

.basic-1-23  h2, .basic-1-23 p {
	color: #ffffff;
}

.basic-1-23 img {
	margin: 0 auto 40px auto;
}

.basic-1-24 {
	background-color: #16A085;
}

.basic-1-24  h2, .basic-1-24 p {
	color: #ffffff;
}

.basic-1-24 img {
	margin: 60px auto 40px auto;
}



/*	BASIC STYLES MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
	
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
	
	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
	
	
}




.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text],input[type=email], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover,input[type=email]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}